<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
        .container-my-img {
            /* width: 100%; */
            height: 100vh;
            background-image: url('https://picsum.photos/id/10/1920/1080');
        }
/* 自己刻d-flex置中的方法 */
  .td-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 236px;
  }

  .td-box>p {

    width: 100%;
  }

  .td-box-row {

    height: 236px;

  }
</style>

<body class="container-my-img">

  <div class="container-fluid mt-3">
    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>
    <div class="text-end">
      <button type="button" class="btn btn-warning btn-lg"><i class="fa-regular fa-plus"></i></button>
    </div>

    <!-- 也可以在<table>、<td>的class中加align-middle垂直置中 -->
      <!-- 也就是vertical-align:middle -->
      <!-- ps.需先設定height -->
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th width="5%">id</th>
          <th width="20%">img_url</th>
          <th width="30%">desc</th>
          <th width="5%">price</th>
          <th width="10%">unit</th>
          <th>operate</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
            <div class="td-box">
              1
          </td>

  </div>
  <td>
    <div class="td-box">
      <img src="https://picsum.photos/id/10/200/300" class="rounded" alt="Cinque Terre" width="304" height="236">
    </div>
  </td>
  <td>
    <div class="td-box">
      <h5>
        title
      </h5>
      <p class="text-start">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam incidunt commodi optio architecto ipsum
        pariatur voluptatibus a molestias harum eius! lorem50
      </p>
    </div>
  </td>


  <td>
    <div class="td-box">100</div>
  </td>
  <td>
    <div class="td-box">元</div>
  </td>
  <td>
    <!-- d-flex要在有高度的DIV才能作用 -->
    <!-- BS5 用d-flex置中的作法 -->
    <div class="td-box-row d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-secondary ms-2"><i class="fa-solid fa-pen-clip"></i></button>
      <button type="button" class="btn btn-danger ms-3"><i class="fa-regular fa-trash-can"></i></button>
    </div>
  </td>

  </tr>
  <tr>

  </tr>
  <tr>

  </tr>
  </tbody>
  </table>
  </div>

</body>

</html>